body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
#first_part {
  background-image: url(images/donation0.jpg);
  height: 669px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.main_width {
  width: 57.36%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#adjustBack {
  background-color: rgba(0, 0, 0, 0.4);
  height: 400px;
}
#webHeader1 {
  font-size: 60px;
  text-align: center;
  font-weight: 700;
  margin: 10px;
}
.fontPropReg {
  font-size: 18px;
  text-align: center;
}
a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
}
.donateNow {
  height: 51px;
  width: 150px;
  background-color: #ff5959;
  border-radius: 5px;
  border: none;
}
.ashColor {
  color: #707070;
}
.blackColor {
  color: #121212;
}
.middleSections {
  height: 692px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}
#webHeader2 {
  font-size: 45px;
  font-weight: 700;
}
#fiveDiv {
  display: flex;
  font-size: 25px;
  font-weight: 700;
}
.taka {
  background-color: rgba(0, 0, 0, 0.1);
  height: 110px;
  width: 123px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#selected {
  background-color: #ffeeee;
  color: #ff5959;
  border: 1px solid #ff5959;
}
input {
  width: 84%;
  border: none;
  border-bottom: 1px solid #bcbaba;
  margin: 7%;
  text-align: center;
  padding: 10px;
}
